#include "zonkey.dtsi"


&kscan0 {
    col-gpios
        = <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
        , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
        , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
        , <&gpio0 10 GPIO_ACTIVE_HIGH>
        , <&gpio0 9 GPIO_ACTIVE_HIGH>
        ;
};


&left_encoder {
    status = "okay";
};

&non_lipo_battery {
    io-channels = <&adc 4>;
};

&spi0 {
    status = "disabled"; // 左手はトラックボールがないので明示的に無効化
};
